.DS_Store

venv/

__pycache__/

build/
dist/

*.egg-info/

installer/windows/*.exe
installer/macos/target/*
installer/debian/*.deb
installer/debian/certuploader/*
!installer/debian/certuploader/DEBIAN/
