.DS_Store

venv/

__pycache__/

build/
dist/

*.egg-info/

installer/windows/*.exe
installer/macos/target/*
installer/debian/*.deb
installer/debian/remotepointer/*
!installer/debian/remotepointer/DEBIAN/
!installer/debian/remotepointer/etc/
!installer/debian/remotepointer/usr/
installer/debian/remotepointer/usr/bin
installer/debian/remotepointer/usr/share/remotepointer
