Package: RemotePointer
Version: 3.1
Section: base
Priority: optional
Architecture: all
Depends: libxcb-cursor0
Maintainer: Georg Sieber <it@georg-sieber.de>
Description: Control you computer's keyboard and mouse and display a digital laser pointer using your smartphone.
